
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<include href="includes/header.php"></include>
<div class="container">
    <h1>Current Accounts:</h1>
    <hr>
    <!-- Member Table -->
    <div class="table-responsive">
        <table id="member-table" class="table">

            <!-- Table Head -->
            <thead>
            <tr>
                <th scope="col">User ID</th>
                <th scope="col">Name</th>
                <th scope="col">Age</th>
                <th scope="col">Gender</th>
                <th scope="col">Phone</th>
                <th scope="col">Email</th>
                <th scope="col">Seeking</th>
                <th scope="col">Biography</th>
                <th scope="col">Premium Account</th>
                <th scope="col">Interests</th>
                <th scope="col">Profile Image</th>
            </tr>
            </thead>
            <tbody>
            <repeat group="{{@members}}" value="{{@member}}">
                <tr>
                    <th scope="row">{{@member.member_id}}</th>
                    <td>{{@member.fname}} {{@member.lname}}</td>
                    <td>{{@member.age}}</td>
                    <td>{{@member.gender}}</td>
                    <td>{{@member.phone}}</td>
                    <td>{{@member.email}}</td>
                    <td>{{@member.seeking}}</td>
                    <td>{{@member.bio}}</td>
                    <td>
                        <input type="checkbox" <check if="{{@member.premium}}">checked</check>>
                    </td>
                    <td>{{@member.interests}}</td>
                    <td>{{@member.image}}</td>
                </tr>
            </repeat>
            </tbody>
        </table>
    </div>
</div>
<include href="includes/footer.php"></include>
</body>
</html>