<include href="includes/header.html"></include>

<!--Intro page, Dating Desert-->
<div class="row justify-content-center">
    <div class="col-2">
        <h1 id="tx" class="font-effect-shadow-multiple">Welcome to, <br> - <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-diamond-fill" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435z"/>
        </svg> -<br><i>the Dating Desert</i></h1>
    </div>
</div>
<div class="row justify-content-center">
<img src="https://png.pngtree.com/illustration/20190226/ourmid/pngtree-illustration-desert-landscape-desert-desert-night-image_4585.jpg">
</div>
<br>
<hr>
<!--Form to navigate to the next page (create account)-->
<form method="get" action="order" class="form-inline">

    <button id="floatBtn" class="btn btn-sm btn-outline-secondary" type="submit">Create your Account</button>

</form>
<br>
<include href="includes/footer.html"></include>
