<include href="includes/header.html"></include>
<!--<form id="one" method="post" action="#">-->
<form method="post" action="#">
<div class="container-content border mx-auto my-auto d-flex">
    <div class="row w-100">
        <div class="col-lg-6 mx-5 my-3 float-left">
<div class="content">

    <h1>Personal Info</h1>
    <hr>

    <div class="form-group">
<!--add first name-->
        <label class="col-lg-12">First Name
            <input class="form-control mb-3" type="text" name="first" value="{{ @first }}">
        <check if="{{ @errors['first'] }}">
            <span class="err">{{ @errors['first'] }}</span>
        </check>
        </label>
        <br><br>
    </div>

<!--add last name-->
    <div class="form-group">
        <label class="col-lg-12">Last Name
            <input class="form-control mb-3" type="text" name="last" value="{{ @last }}">
            <check if="{{ @errors['last'] }}">
                <span class="err">{{ @errors['last'] }}</span>
            </check>
        </label>
        <br><br>

<!--add age-->
        <label class="col-lg-12">Age
            <input class="form-control mb-3" type="text" name="age" value="{{ @age }}">
            <check if="{{ @errors['age'] }}">
                <span class="err">{{ @errors['age'] }}</span>
            </check>
        </label>
        <br><br>
    </div>
<!--pick desired gender from list-->
    <div class="form-group">
        <p>Select Gender
            <check if="{{ @errors['gender'] }}">
                <span class="err">{{ @errors['gender'] }}</span>
            </check><br>
            <repeat group="{{ @genders }}" value="{{ @genderOption }}">
                <label class="col-lg-12"><input class="form-check-input" type="radio" name="gender" value="{{ @genderOption }}"
                    <check if="{{ @genderOption == @gender }}">
                        checked="checked"
                    </check>
                    >{{ @genderOption }}</label><br>
            </repeat>
        </p>
    </div>
<!--    add phone number  -->
    <div class="form-group">
        <label class="col-lg-12">Phone
            <input  class="form-control mb-3" type="text" name="phone" value="{{ @phone }}">
            <check if="{{ @errors['phone'] }}">
                <span class="err">{{ @errors['phone'] }}</span>
            </check>
        </label>
<!--        If premium account or normal user   -->
        <div class="form-group">
            <check if="{{ @premium=='true'}}">
                <true>
                    <label><input type="checkbox" name="premium" checked>Sign me up for a Premium Account!</label>
                </true>
                <false>
                    <label><input type="checkbox" name="premium">Sign me up for a Premium Account!</label>
                </false>
            </check>
            <br><br>
<!--            submit              -->
            <button id="floatBtn2"  class="btn btn-sm btn-outline-secondary" type="submit">Next</button>
        </div>
    </div>

</div>
</div>
<div class="col-lg-3 mx-5 my-3 float-right">
    <div class="content">
        <div class="alert alert-primary" role="alert">
            <small class="form-text text-muted"> This information is not protected under a licensed agreement.</small>
        </div>
    </div>
</div>




</div>
</div>
</form>
<include href="includes/footer.html"></include>