<include href="includes/header.html"></include>
<!--FORM: outdoor interests, indoor interests -->
<h1 id="lead">What are your Interests?</h1>
<div class="container-content border mx-auto my-auto d-flex">
    <div class="row w-100">
        <div class="col-lg-12 mx-12 my-6">
<form method="post" action="#">
            <div class="navy">
                <div class="container">
                    <div class="row">
<!--Indoor Interests -->
                        <label><b><h5>Indoor:</h5></b></label><br><br><br>
                        <fieldset id="pLeft">
                            <br>
                            <repeat group="{{@indoor}}" value="{{@indoorOption}}">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="indoor[]" value="{{@indoorOption}}">
                                    <label><b>&#9829;</b> {{@indoorOption}} </label>
                                </div>
                            </repeat>
                        </fieldset>
                    </div>
                    <br><hr><br>
<!--Outdoor Interests -->
                    <div id="check2" class="form-check form-check-inline">
                        <label><b><h5>Outdoor:</h5></b></label><br><br><br>
                        <fieldset>
                            <br>
                            <repeat group="{{@outdoor}}" value="{{@outdoorOption}}">
                                <div class="form-check form-check-inline">
                                    <input type="checkbox" name="outdoor[]" value="{{@outdoorOption}}">
                                    <label><b>&#9829;</b> {{@outdoorOption}} </label>
                                </div>
                            </repeat>
                        </fieldset>
                    </div>
<!--Submit-->
                    <button id="floatBtn2" class="btn btn-sm btn-outline-secondary" type="submit">Next>></button>
                </div>
            </div>

        </div>
        </form>
    </div>
</div>
<include href="includes/footer.html"></include>
