<include href="includes/header.html"></include>
<!--FORM: email, state, bio, seeking -->
<form id="two" method="post" action="#">
    <div id="lead3" class="container-content border mx-auto my-auto d-flex">
        <div class="col mx-5 my-3 float-left">
            <div class="navy">
                <div class="content">
                    <div class="col lg-12">
<!--contact info -->
                        <h1 class="mb-4">Contact Information</h1>
                    </div>
<!--enter email-->
                    <div class="form-group">
                        <label class="col-lg-8">Email
                            <input type="text" class="col-lg-12" name="email" value="{{ @email }}">
                        <br>
                        <check if="{{ @errors['email'] }}">
                            <span class="err">{{ @errors['email'] }}</span>
                        </check>
                        </label>
                    </div>
                    <br><br>
<!--enter state -->
                    <label>State</label>
                    <select name="state" id="state">
                        <repeat group="{{@states}}" value="{{@stateOption}}">
                            <option>{{@stateOption}}</option>
                        </repeat>
                        <check if="{{ @location == @state }}">
                            selected="selected"
                        </check>
                    </select>
<!--enter seeking-->
                    <br><br>
                    <label>Seeking</label><br>
                    <repeat group="{{@seeking}}" value="{{@seekingOption}}">
                        <div class="form-check-inline">
                            <input type="radio" name="seeking" value="{{@seekingOption}}">
                            <label>{{@seekingOption}}</label>
                        </div>
                    </repeat>
                    </input>
                </div>
            </div>
        </div>
<!--enter biography-->
        <div class="col mx-5 my-3 float-right">
            <label for="biography">Biography</label>
            <textarea class="form-control" name="biography" id="biography" rows="15"></textarea>
            <br><br>
            <button id="floatBtn2" class="btn btn-sm btn-outline-secondary" type="submit">Next</button>
        </div>
    </div>
    </div>

</form>
<!--END OF FORM-->
<include href="includes/footer.html"></include>
