<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<include href="includes/header.php"></include>
<h1>Profile</h1>
<div><a href="ec"><button>Accounts>></button></a></div>
<h3>Your profile has been created!</h3>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th colspan="3" style="text-align: center">Profile Information</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">&#9824;</th>
                    <td>First Name</td>
                    <td>{{ @SESSION.member->getFirst()}}</td>
                </tr>
                <tr>
                    <th scope="row">&#9830;</th>
                    <td>Last Name</td>
                    <td>{{ @SESSION.member->getLast() }}</td>
                </tr>
                <tr>
                    <th scope="row">&#127216;</th>
                    <td>Age</td>
                    <td>{{ @SESSION.member->getAge() }}</td>
                </tr>
                <tr>
                    <th scope="row">&#9893;</th>
                    <td>Gender</td>
                    <td>{{ @SESSION.member->getGender() }}</td>

                </tr>
                <tr>
                    <th scope="row">&hearts;</th>
                    <td>Seeking</td>
                    <td>{{ @SESSION.member->getSeeking() }}</td>
                </tr>
                </tbody>
            </table>
            <table class="table table-hover">
                <thead>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th colspan="3" style="text-align: center">Demographics</th>
                    </tr>
                    <tr>
                        <th scope="row">&#128174;</th>
                        <td>State</td>
                        <td>{{ @@SESSION.member->getState() }}</td>
                    </tr>
                    <check if="{{ @SESSION.member->isMember() }}">
                    <tr>

                        <th scope="row">&#127800;</th>
                        <td>Interests</td>
                        <td>
                            {{ @SESSION.member->getIndoor() }}, {{ @SESSION.member->getOutdoor() }}
                        </td>

                    </tr>
                    </check>
                    </tbody>
                </table>
                </thead>
            </table>
        </div>
        <div class="col-lg">
            <img src="https://i.pinimg.com/originals/b2/09/e0/b209e0579044a0a4c441ed493c20dc43.jpg" style="width: 50%; margin-left: auto; margin-right: auto;">
            <p style="text-align: center"><b>Biography:</b><hr><br> {{ @SESSION.member->getBiography() }} </p>
        </div>
    </div>
</div>
<div><a href="ec"><button>Accounts>></button></a></div>

<include href="includes/footer.php"></include>
        </body>
</html>